@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Product List";
}
<h1>Product List</h1> 

@foreach (var m in @Model)
{
<p>@m.ProductName - @m.ProductDescription - Cena wynosi: @m.ProductPrice zl</p>
    
}


